@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --white: #ffffff;
  --black: #000000;

  --dark-blue-shade-9: #010306;
  --dark-blue-shade-8: #02070c;
  --dark-blue-shade-7: #030b12;
  --dark-blue-shade-6: #050e19;
  --dark-blue-shade-5: #06121f;
  --dark-blue-shade-4: #071625;
  --dark-blue-shade-3: #09192c;
  --dark-blue-shade-2: #0a1d32;
  --dark-blue-shade-1: #0b2138;
  --dark-blue: #0d253f;
  --dark-blue-tint-1: #253a52;
  --dark-blue-tint-2: #3d5065;
  --dark-blue-tint-3: #556678;
  --dark-blue-tint-4: #6d7c8b;
  --dark-blue-tint-5: #86929f;
  --dark-blue-tint-6: #9ea7b2;
  --dark-blue-tint-7: #b6bdc5;
  --dark-blue-tint-8: #ced3d8;
  --dark-blue-tint-9: #e6e9eb;

  --light-blue: #01b4e4;
  --light-green: #90cea1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
