.page {
  min-height: calc(100vh - 80px);
  width: 100%;
  padding: 24px 5vw;
  background-color: var(--dark-blue-tint-2);
}

.pager {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
